.cabecalhoPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cabecalhoPrincipal-nav {
  display: flex;
  gap: 0.3125rem;
}
.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}

.rodapePrincipal-navMap-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 15.625rem;
}

.conteudoPrincipal-pratos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.conteudoPrincipal-pratos-link {
  height: fit-content;
  width: 900px;
  padding-bottom: 20px;
  gap: 20px;
}
