body {
  background-image: url(../img/paisagem.jpg);

  font-family: "Open Sans", Arial, sans-serif;
}

.container {
  width: 94%;
  margin: 0 auto;
}

.cabecalhoPrincipal {
  background-color: #ffffff;
  padding: 30px 0;
}

.cabecalhoPrincipal-titulo {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
  text-decoration: none;
  color: inherit;
}

.cabecalhoPrincipal-nav-link {
  font-size: large;
  padding: 10px;
  margin-bottom: 10px;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  transition: 0.5s;
  display: block;
  border-bottom: none;
}

.conteudoPrincipal {
  margin-top: 50px;
}

.subtitulo {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 20px;
  text-align: center;
}

.conteudoPrincipal-pratos-link {
  height: 120px;
  background-color: #fff;
  text-align: center;
  margin: 1%;
  padding-top: 20px;
  transition: 0.3s;
  box-shadow: 2px 2px 2px #ccc;
  position: relative;
}

.conteudoPrincipal-pratos-link a {
  text-decoration: none;
  color: #000;
  font-family: "Merriweather", serif;
  font-weight: bold;
  margin-left: 20px;
  width: 100%;
  height: 100%;
}

.conteudoPrincipal-pratos-link p {
  font-family: "Lora", serif;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.conteudoPrincipal-pratos-link:hover {
  box-shadow: 4px 4px 4px #ccc;
  transform: scale(1.02);
  transition: 1.1s;
  background-color: #ffffff;
}

.conteudoPrincipal-pratos-link:nth-child(even) a:before {
  background: url(../img/background1.svg) no-repeat;
}

.conteudoPrincipal-pratos-link:nth-child(odd) a:before {
  background: url(../img/background2.svg) no-repeat;
}

.conteudoPrincipal-pratos-link:last-child {
  margin-bottom: 40px;
}

.rodapePrincipal {
  background-color: #12181d;
  padding-top: 20px;
}

.rodapePrincipal .subtitulo {
  color: #fff;
}

.rodapePrincipal-navMap-link {
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
}

.rodapePrincipal-navMap-link {
  font-size: 0.9em;
}

.navmap-list-title {
  font-weight: 700;
  font-size: 1.3em;
  margin: 0.9em 0;
  padding-left: 0.3em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.navmap-list-title + .rodapePrincipal-navMap-link {
  margin-top: 0;
}

.navmap-list-title-nordestina {
  color: #ad85bf;
  border-left: 4px solid #ad85bf;
}
.navmap-list-title-mineira {
  color: #25d285;
  border-left: 4px solid #25d285;
}
.navmap-list-title-frutosmar {
  color: #5ec6f3;
  border-left: 4px solid #5ec6f3;
}

.rodapePrincipal-patrocinadores {
  margin-top: 30px;
  background: #ffffff;
  padding: 20px 0;
}

.rodapePrincipal-contatoForm {
  margin-top: 20px;
  text-align: center;
}

.rodapePrincipal-contatoForm label[for="email-contato"] {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
  display: block;
}

.rodapePrincipal-contatoForm-emailInput {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
}

.rodapePrincipal-contatoForm-submit {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #4dba7a;
  color: #fff;
  cursor: pointer;
}

.rodapePrincipal-contatoForm-submit,
.rodapePrincipal-contatoForm-emailInput {
  outline: 0;
  border: 1px solid #4dba7a;
  box-sizing: border-box;
  font-size: 16px;
}

.localizacaoVantagens {
  background-color: #0f0f0f;
  padding: 25px 0;
}

.localizacaoVantagens-mapa {
  max-width: 100%;
}

.localizacaoVantagens .container {
  color: #fff;
}

.localizacaoVantagens-sobre-title {
  font-size: 1.8em;
  font-family: "Merriweather", serif;
  font-weight: bolder;
}
.localizacaoVantagens-sobre-list {
  font-family: "Lora", serif;
  font-weight: 400;
}

.localizacaoVantagens-sobre {
  font-size: 1.3em;
  line-height: 2;
}

.localizacaoVantagens-button {
  border-radius: 8px;
  background-color: green;
  display: block;
  color: #fff;
  font-weight: bolder;
  height: 50px;
  font-size: 0.8em;
  outline: none;
  transition: transform 0.1s ease-in-out;
}

.localizacaoVantagens-button:hover {
  background-color: rgb(1, 94, 1);
  transform: scale(1.1);
  transition: 2.3s;
}

.rodapePrincipal-contatoForm-legend {
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  .container {
    width: 85%;
  }

  .subtitulo {
    text-align: left;
  }

  .cabecalhoPrincipal-nav-link {
    border-radius: 40px;
  }

  .cabecalhoPrincipal-nav-link:hover {
    color: #ffffff;
    background-color: green;
    transition: 1.3s;
  }

  .cabecalhoPrincipal-titulo {
    margin: 0;
  }

  .cabecalhoPrincipal-nav {
    width: auto;
  }

  .cabecalhoPrincipal-nav-link {
    width: auto;
    margin: 0 0 0 10px;
  }

  .rodapePrincipal-contatoForm {
    margin-top: 0;
    text-align: left;
  }
}
